@import './animation.less';
@import './variables.less';
@import './custom.less';

html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}



a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}



h1,
h2,
h3,
h4,
h5,
h5,
p {
  font-size: 14px;
  margin: 0;
}

body {
  h1 {
    font-size: 14px;
    margin: 0;
  }
  .tox-tinymce-aux{
    z-index: 3000;
  }
}

.body__img__preview{
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  text-align: center;
  .body__img__img{
    width: 80%;
    object-fit: contain;
    height: 80%;
    margin-top: 5%;
  }
  .body__img__close{
    position: absolute;
    top: 5%;
    right: 5%;
    color: red;
    background: #fff;
    border-radius: 50%;
    font-size: 30px;
    z-index: 10000;
  }
}